@font-face {
  font-family: "Rebond Grotesque";
  src: url("assets/fonts/rebond-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: "Roobert";
  src: url("assets/fonts/RoobertRegular.ttf") format("truetype");
}

/* ======== Common ========= */

/* Basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(255, 255, 255, 1);
  margin-left: 143px;
  margin-right: 140px;
  color: rgba(57, 25, 82, 1);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rebond Grotesque", sans-serif;
}

p {
  font-family: "Roobert";
  font-weight: 400;
}

.headline-regular {
  font-family: "Rebond Grotesque", sans-serif;
  /* width: 100%; */
  font-size: 72px;
}

.headline-desc {
  font-family: "Roobert";
  font-size: 22px;
  width: 100%;
}

button {
  background: rgba(57, 25, 82, 1);
  color: white;
}

.text-color-primary {
  color: rgba(185, 127, 230, 1);
}

.section-gap {
  margin-top: 180px;
}

/*======= navbar =========*/
.nav-bar {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  margin-top: 10px;
  /* position: relative; */
}

.nav-bar a {
  text-decoration: none;
  color: rgba(57, 25, 82, 1);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  background: rgba(255, 255, 255, 1);
  color: rgba(57, 25, 82, 1);
  border: none;
}

.try-free-btn {
  background: rgba(57, 25, 82, 1);
  color: white;
  padding: 13px 24px;
  gap: 8px;
  border-radius: 100px;
  border: none;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Animation for the mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 20px;
  position: absolute;
  top: 92px;
  right: 30px;
  z-index: 1000;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  display: flex;
  transform: scaleY(1);
}

.mobile-menu a,
.mobile-menu button {
  font-size: 18px;
  padding: 10px;
}

/* ======= banner ======== */

.banner {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-plane {
  animation: MoveUpDown 5s both infinite;
  position: absolute;
  top: 20%;
  left: 10%;
}

.icon-pen {
  animation: MoveUpDown 5s linear infinite;
  position: absolute;
  top: 40%;
  right: 5%;
}

.icon-msg {
  animation: Rotate 30s linear infinite;
  position: absolute;
  top: 90%;
  right: 10%;
}

.icon-letter {
  animation: Rotate 30s alternate infinite;
  position: absolute;
  top: 100%;
  left: 20%;
}

.icon-cross {
  position: absolute;
  top: 80%;
  left: 1%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner h1 {
  font-family: "Rebond Grotesque", sans-serif;
  font-size: 108px;
  text-align: center;
  /* margin: 0; */
  margin-bottom: 20px;
}

.banner button {
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 100px;
  width: 194px;
}

.banner-center {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 727px;
  /* height: 517px; */
  margin-top: 100px;
  gap: 40px;
}

.banner-center p {
  font-size: 24px;
  font-weight: 500;
}

/* ======= rating container ===== */

.rating-section {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.rating-container {
  width: 100%;
  max-width: 668.24px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 150px;
  justify-content: space-between;
}

.rating-box p, .client-box p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(162, 146, 175, 1);
  margin-top: 18px;
}

.client-box {
  border-left: 2px solid rgba(57, 25, 82, 1);
  padding: 5px;
}

.client-box p {
  color: rgba(185, 127, 230, 1);
}

.client-box h6 {
  font-size: 18px;
  font-weight: 700;
}

/* ===== features ======= */

.features-headline {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 16px;
}

.features-headline button {
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 100px;
  width: 194px;
}

.features-headline-left {
  grid-column: span 8;
}

.features-headline-right {
  grid-column: span 4;
}

.features-headline-left p {
  margin-top: 24px;
  margin-bottom: 36px;
}

.features-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 16px;  */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 16px;
}

.features-card .img-div {
  background: rgba(240, 231, 249, 1);
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.features-card img {
  width: 42px;
  height: 42px;
}
.features-card h6 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.features-card p {
  font-size: 18px;
  width: 400;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 326px;
  height: 251px;
}

/* ======= Writting ======== */

.writting-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 180px;
  margin-bottom: 180px;
}

.writting-img {
  position: relative;
  background: rgba(248, 241, 252, 1);
  width: 419px;
  height: 420px;
  border-radius: 50px;
}

.writting-img-2 {
  background: rgba(240, 246, 255, 1);
  width: 419px;
  height: 420px;
  border-radius: 50px;
}

.writting-img img,
.writting-img-2 img {
  margin-top: -70px;
}

.writting-img-model{
  /* height: 20em;
  width: 20em; */
}

.writting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.writting-section button {
  width: 203px;
  padding: 16px 24px 16px 24px;
  border-radius: 100px;
}

.browser-extension {
  position: absolute;
  top: 15%;
  left: 70%;
  background: rgba(57, 25, 82, 1);
  width: 196px;
  height: 38.36px;
  padding: 7px;
  border-radius: 75.73px;
  color: rgba(255, 255, 255, 1);
  font-size: 18.93px;
  font-weight: 500;
}

.browser-extension .logo {
  width: 26.73px;
  height: 26.73px;
  background: rgba(176, 129, 223, 1);
  border-radius: 8px;
}

.browser-extension .logo img {
  width: 17.82px;
  height: 17.82px;
  padding: 0.43px 0px 0.43px 0px;
}


.assist-img-2 {
  position: absolute;
  top: 85%;
  left: 95%;
}



/*  ======= tools section ========== */

.tools-headline {
  text-align: center;
  /* width:  957px; */
  /* height:  176px; */
}

.tools-headline h6 {
  margin-bottom: 24px;
}

.tools-container {
  /* width: 1284px; */
  /* height: 500px; */
  padding: 80px 10px 80px 10px; 
  /* top - right - bottom - left */
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.tools-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 128px;
  padding: 30px;

  width: fit-content;
}

.bg-primary {
  background: rgba(248, 241, 252, 1);
}

.bg-secondary {
  background: rgba(250, 234, 230, 1);
}

.bg-third {
  background: rgba(229, 239, 255, 1);
}

.tools-card-left {
  width: 501px;
  height: auto;
}

.tools-card-left h2,
h1 {
  font-size: 56px;
}

/* first box */

.tools-card-right {
  display: flex;
  gap: 27px;
}

.tools-card-right .assist-img-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 10px;
}

.tools-card-right .person {
  background: rgba(145, 41, 209, 1);
  width: 167px;
  height: 34px;
  padding: 5px 8px 5px 5px;
  gap: 3px;
  border-radius: 68px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  margin-bottom: 24px;
}

.tools-card-right .person-letter {
  background: rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  padding: 2px 5px 2px 5px;
  border-radius: 200px;
  opacity: 0px;
  color: rgba(57, 25, 82, 1);
}

.tools-card-right .comment-box {
  background: rgba(255, 255, 255, 1);
  width: 330.3px;
  height: 176px;
  border-radius: 9.64px;
  border: 1.21px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tools-card-right .comment-fill {
  background: rgba(249, 250, 251, 1);
  font-size: 16px;
  font-weight: 400;
  color: rgba(156, 163, 175, 1);
  padding: 14px 14px 53px 14px;
  width: 291.73px;
  height: 93.32px;
}

.tools-card-right .tone-types {
  display: flex;
  gap: 8px;
}

.tone {
  /* width: 61.47px; */
  /* height: 29.64px; */
  padding: 4.82px 7.23px 4.82px 7.23px;
  gap: 9.64px;
  border-radius: 120.55px;
  border: 1.21px;
  font-weight: 500;
  font-size: 14px;
}

.tone-formal {
  background: rgba(239, 239, 196, 1);
  border: 1.21px solid rgba(229, 229, 189, 1);
}
.tone-friendly {
  background: rgba(217, 243, 236, 1);
  border: 1.21px solid rgba(204, 231, 223, 1);
}
.tone-funny {
  background: rgba(249, 223, 223, 1);
  border: 1.21px solid rgba(241, 210, 210, 1);
}
.tone-emotional {
  background: rgba(196, 201, 239, 1);
  border: 1.21px solid rgba(182, 186, 228, 1);
}

/* second box */

.tools-card-right .mail-box {
  width: 425px;
  height: 309px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6.24px 6.24px -3.12px rgba(16, 24, 40, 0.03);
  box-shadow: 0px 15.59px 18.71px -3.12px rgba(16, 24, 40, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-card-right .mail-content {
  width: 365px;
  height: 223px;
  font-size: 13.25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

/* third box */
.tools-card-right .info-box {
  width: 425px;
  height: 288px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
}

.info-box .rewrite-box {
  width: 90px;
  height: 30px;
  padding: 8px 0px 0px 0px;
  gap: 4px;
  border-radius: 6px;
  opacity: 0.8px;
  background: rgba(232, 236, 254, 1);
}

.info-box .info-one {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}

.info-box .info-text {
  width: 425px;
  height: 52px;
  padding: 0px 16px 8px 16px;
  border: 0px 0px 1px 0px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.info-color {
  color: rgb(28, 115, 255);
}

/*=======  Must have Tools section =======*/

.tools-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 72px;
  grid-column-gap: 48px;
  margin-top: 64px;
}

.tools-item h6 {
  font-size: 24px;
  font-weight: 700;
}

.tools-item p {
  font-size: 18px;
}

.tools-item img {
  height: 60px;
  width: 60px;
}

.tools-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



/* ====== about section =======  */

.about-container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
  display: grid;
  gap: 24px;
}

.about-card h6 {
  font-size: 28px;
}

.about-card p {
  font-size: 18px;
}

.about-card img {
  width: 121.49px;
  height: 125.17px;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 412px;
  height: 412px;
  border-radius: 24px;
  text-align: center;
}

/* ====== users section ======= */

.users-section {
  width: 1614px !important;
  height: 996px;
  top: 8047.75px;
  margin: 0 !important;

  background: rgba(249, 247, 245, 1);
}

.users-section h1 {
  text-align: center;
}

/* ======= section faq ========*/

.faq-section {
  width: 80%;
}

.faq-section h1 {
  margin-bottom: 72px;
}

.accordion-header h6 {
  font-size: 28px;
  margin: 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.accordion-header .bi-plus-lg {
  transition: transform 0.3s ease;
}

.accordion-header.active .bi-plus-lg {
  transform: rotate(45deg);
}

.accordion-content {
  display: none;
  padding: 20px;
}

.accordion-content {
  font-size: 18px;
  font-weight: 400px;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* ======= subscription section ========== */
.subs-section {
  background: rgba(185, 127, 230, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 587px;
  gap: 0px;
  border-radius: 50px;
  z-index: 1000;
  position: relative;
}

.subs-section input {
  width: 460px;
  height: 64px;
  padding: 4px 4px 4px 37.73px;
  gap: 8px;
  border-radius: 100px;
  background: rgba(209, 170, 238, 1);
}

.subs-section input::placeholder {
  /* font-family: Apercu; */
  font-size: 18px;
  font-weight: 400;
}

.subs-content button {
  width: 130px;
  height: 56px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 1);
  font-family: "Roobert";
  /* font-size: 16px; */
  font-weight: 700;
  text-align: center;
  color: rgba(57, 25, 82, 1);
  cursor: pointer;
  margin-left: -138px;
  border: none;
}

.subs-content svg {
  width: 28px;
  height: 28px;
}

.subs-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

/*======= footer ====== */

footer {
  /* width: 1600px; */
  left: -143px;
  width: calc(100% + 283px); /* 143px + 140px */
  height: auto;
  border-radius: 65px 65px 0 0;
  background: rgba(248, 242, 252, 1);
  padding-top: 200px;
  box-sizing: border-box;
  position: relative;
  margin-top: -100px;
}

.footer-container {
  margin-left: 143px;
  margin-right: 140px;
}

.footer-links {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-bottom: 100px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link h6 {
  font-size: 22px;
}

.footer-link a {
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}

.footer-bottom img {
  width: 128px;
  height: 34px;
}

/* ================ media query ==================== */

/* ===== For  Mobiles =====   */
@media screen and (max-width: 576px) {
  /* navbar */
  .nav-links {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }

  .headline-regular,
  .tools-card-left h2,
  h1 {
    font-size: 8vw; /* Increase font size for smaller screens */
  }

  /* banner */
  .banner h1 {
    font-size: 40px;
  }

  .banner-center {
    width: 100%;
    padding: 0 20px;
  }

  .banner-center p {
    font-size: 16px;
  }

  .banner button {
    width: auto;
    padding: 10px 20px;
  }

  .icon-plane {
    top: 35%;
    left: 2%;
    width: 40px;
  }

  .icon-pen {
    top: 55%;
    right: 8%;
    width: 40px;
  }

  .icon-msg {
    top: 75%;
    right: 8%;
    width: 40px;
  }

  .icon-letter {
    top: 85%;
    left: 5%;
    width: 30px;
  }

  .icon-cross {
    top: 65%;
    left: 2%;
    width: 15px;
  }

  /* rating */
  .rating-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
  }

  .rating-box p, .client-box p {
    font-size: 12px;
    text-align: center;
  }

  .client-box {
    border-left: none;
    border-top: 2px solid rgba(57, 25, 82, 1);
    padding-top: 10px;
  }

  .client-box h6 {
    text-align: center;
  }




  .features-section {
    margin-top: 370px;
  }

  .features-headline-left {
    grid-column: span 12;
  }

  .features-headline-right {
    grid-column: span 12;
  }

  .features-content {
    grid-template-columns: repeat(1, 1fr);
  }

  /* writting */
  .writting-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .writting-text {
    width: 100%;
  }

  /* tools */
  .tools-container {
    margin-top: 20px;
    padding: 5px;
  }

  .tools-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tools-card-left h2,
  h1 {
    font-size: 1.25rem;
  }

  .tools-card-left p {
    font-size: 0.625rem;
  }

  .tools-card-right .comment-fill {
    font-size: 0.625rem;
  }

  .tools-card-right .mail-content,
  .info-box .info-text {
    font-size: 0.625rem;
  }

/* must have tools section */
.tools-items-container {
  /* display: grid; */
  grid-template-columns: repeat(1, 1fr);
  /* grid-row-gap: 72px; */
  /* grid-column-gap: 48px; */
  /* margin-top: 64px; */
}

  /* about */
  .about-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .about-card {
    width: auto;
    height: auto;
    padding: 20px;
  }

  .about-card h6 {
    font-size: 22px;
  }

  .about-card p {
    font-size: 14px;
  }

  .about-card img {
    width: 80px;
    height: 80px;
  }

  /* subs section */

  .subs-section {
    height: auto;
    padding: 20px;
  }

  .subs-content h1 {
    font-size: 6vw;
  }

  .subs-section input {
    width: 100%;
    margin-top: 10px;
  }

  .subs-content button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .subs-info {
    flex-direction: column;
    gap: 16px;
  }

  /* footer */

  .footer-links {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }

  .footer-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-bottom {
    flex-direction: column;
  }
}

/*====== For Tabs =======  */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .headline-regular,
  .tools-card-left h2,
  h1 {
    font-size: 6.5vw; /* Adjust font size for tablets */
  }

  /* banner */
  .banner h1 {
    font-size: 60px;
  }

  .banner-center {
    width: 90%;
  }

  .banner-center p {
    font-size: 18px;
  }

  .icon-plane {
    top: 30%;
    left: 3%;
    width: 60px;
  }

  .icon-pen {
    top: 50%;
    right: 12%;
    width: 60px;
  }

  .icon-msg {
    top: 80%;
    right: 12%;
    width: 60px;
  }

  .icon-letter {
    top: 90%;
    left: 10%;
    width: 40px;
  }

  .icon-cross {
    top: 70%;
    left: 3%;
    width: 25px;
  }


  /* rating */

  .rating-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
  }

  .rating-box p, .client-box p {
    font-size: 14px;
    text-align: center;
  }

  .client-box {
    border-left: none;
    border-top: 2px solid rgba(57, 25, 82, 1);
    padding-top: 10px;
  }

  .client-box h6 {
    text-align: center;
  }





  .features-section {
    margin-top: 370px;
  }

  .features-headline-left {
    grid-column: span 12;
  }

  .features-headline-right {
    grid-column: span 12;
  }

  .features-content {
    grid-template-columns: repeat(2, 1fr);
  }



  .writting-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .writting-text {
    width: 100%;
  }

  /* tools */
  .tools-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .tools-card-left h2,
  h1 {
    font-size: 1.5rem;
  }

  .tools-card-left p {
    font-size: 0.75rem;
  }

  .tools-card-right .comment-fill {
    font-size: 0.75rem;
  }

  .tools-card-right .mail-content,
  .info-box .info-text {
    font-size: 0.75rem;
  }

  .tools-container {
    margin-top: 30px;
    padding: 10px;
  }


  /* must have tools section */
.tools-items-container {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  /* grid-row-gap: 72px; */
  /* grid-column-gap: 48px; */
  /* margin-top: 64px; */
}




  /* about */
  .about-container {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .about-card {
    width: auto;
    height: auto;
    padding: 20px;
  }

  .about-card h6 {
    font-size: 24px;
  }

  .about-card p {
    font-size: 16px;
  }

  .about-card img {
    width: 100px;
    height: 100px;
  }

  /* subs section */
  .subs-section {
    height: auto;
    padding: 20px;
  }

  .subs-content h1 {
    font-size: 5vw;
  }

  .subs-section input {
    width: 80%;
  }

  .subs-content button {
    width: 150px;
    margin-left: -50px;
    margin-top: 10px;
  }

  .subs-info {
    gap: 24px;
  }

  /* footer */

  .footer-links {
    grid-template-columns: 2fr;
    gap: 20px;
    margin-bottom: 30px;
  }

  .footer-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-bottom {
    flex-direction: column;
  }
}

/* ===================================================*/
